<div fxLayout="column" fxLayoutGap="20" class="consignee-master">
  <mat-card>
    <mat-card-title>
      Consignee Master
    </mat-card-title>
    <mat-card-content>
      <form #consigneeMasterSearchForm="ngForm">
        <div fxLayout="row" fxLayoutGap="30">
          <mat-form-field appearance="fill">
            <mat-label>Consignee Name</mat-label>
            <input matInput type="text" name="consigneeName" [(ngModel)]="model.consigneeName" />
            <mat-error *ngIf="!consigneeMasterSearchForm.valid">
              Consignee Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select [(value)]="model.country">
              <mat-option *ngFor="let cntry of model.countries" [value]="cntry">{{cntry}}</mat-option>
            </mat-select>
            <mat-error *ngIf="!consigneeMasterSearchForm.valid">
              Country is required
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" (click)="onSearchClick()">Search</button>
          <button mat-raised-button color="secondary" type="button" (click)="onCancelClick()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div fxLayout="column">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20" fxLayoutAlign="start start">
          <button mat-raised-button color="primary" type="button" (click)="onAddNewClick()">Add New</button>
          <app-table [tableModel]="model.gridConfig" (rowEditClick)="onEditRowClick($event)"
            (rowDeleteClick)="onDeleteRowClick($event)" fxFill></app-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>