.insert-update-client {
    .add-delete-icons {
        justify-content: center;
        align-items: center;
    }
    .client-address-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    .row {
        margin-bottom: 5px;
    }
}