.spinner-style {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.288);
    opacity: 1;
    z-index: 1001;
    .spinner-alignment {
        top: 50%;
        left: 50%;
        z-index: 1001;
    }
}